@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	background-color: #e0e0bc;
	font-family: serif;
}

Nav,
footer {
	background-color: #d8b881;
}

.titlePoster {
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	color: #fff;
	margin: 0px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}

.contenedorTitulo {
	height: 38vh;
	width: 100%;
	background-image: url(../imgs/poster.jpg);
	background-size: contain;
	display: table;
	background-attachment: fixed;
}

.contenedorCarousel {
	margin: 1rem;
}

@media only screen and (min-width: 600px) {
	.titlePoster {
		font-size: 3rem;
	}

	.contenedorCarousel {
		padding: 2rem 15rem;
	}
}

#servicios {
	background-color: #d8b881;
}

#buttonCalcular {
	text-align: center;
}

.hideCalcular {
	display: none;
}

div.modal-content {
	background-color: #d8b881;
}

div.modal-header {
	border-bottom: 1px #d8b881 solid;
}

div.modal-footer {
	border-top: 1px #d8b881 solid;
	justify-content: center;
}

.btn-aceptar {
	background-color: #f0cd92;
}

.btn-aceptar:hover {
	background-color: #eec57f;
}
