body{
    background-color: #e0e0bc;
    font-family: serif;
}

Nav, footer{
    background-color: #d8b881;
}

.titlePoster {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    font-size: 2rem;
}


.contenedorTitulo {
    position: relative;
}

.contenedorCarousel{
    margin: 1rem;
}


@media only screen and (min-width: 600px) {
  .titlePoster {
    font-size: 3rem;
}
    
    .contenedorCarousel{
   padding: 2rem 15rem;
}

}

#servicios{
    background-color: #d8b881;
}

#buttonCalcular{
    text-align: center;
}

.hideCalcular{
    display: none;
}